{{#if campaignList}}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Type</th>
                <th>StartDate</th>
                <th>ExpiryDate</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each campaignList}}
            <tr>
                <td><a href="/campaigns/{{code}}">{{code}}</a></td>
                <td><a href="/campaigns/{{code}}">{{type}}</a></td>
                <td>{{formatDate startDate 'MMMM Do YYYY, h:mm:ss a'}}</td>
                <td>{{formatDate expiryDate 'MMMM Do YYYY, h:mm:ss a'}}</td>
                <td><span class="dash-status">{{status}}</span></td>
                <td>
                    <div class="bo-edit-row">
                        <a href="/campaigns/{{code}}" class="btn btn-float">
                            <i class="fas fa-edit"></i>
                        </a>

                        <form action="/campaigns/remove/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_csrf" value="{{@root.csrfToken}}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{else}}
<p>You have not created any campaigns</p>
{{/if}}

<div class="fixed-action-btn">
    <a href="/campaigns/add" class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-plus"></i></a>
</div>