.subheader {
  border: solid;
  border-width: thin;
  border-color: lightgrey;
}
.subheader3 {
  border: solid;
  border-width: thin;
  border-color: lightgrey;
  background-color: #128a9e;
  padding: 8px;
  height: 40px;
  color: white;
}
