<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- instruct the web crawler to noindex and nofollow this page--}}
    <meta name='robots' content="noindex,nofollow">
    {{!--
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <link rel="icon" href="icons8-monitor-50.png">
    Place favicon.ico in the root directory --}}
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/bootstrap/bootstrap-icons/bootstrap-icons.css">
    
    <link rel="stylesheet" href="/css/xpressstyle.css">
    <link rel="stylesheet" href="/css/style.css">
    

    <title>Xpress Commerce</title>
</head>

<body>
    {{> top_header}}
    {{> _header}}
    <div id="wrapper" class="wrapper">
        <div class="main-content">
            {{> _error_message}}
            {{{body}}}
            {{> _footer}}
        </div>
    </div>

    <script src="/js/jquery-3.6.1.slim.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>

    {{!--
    <script>
        {
            M.Sidenav.init(document.querySelector('.sidenav'))
            M.FormSelect.init(document.querySelector('#status'))
        }
    </script> --}}
</body>

</html>