{{!-- <h3>Welcome {{name}}</h3>
<div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Total Vendors</span>
          <h2>50</h2>
        </div>
        <div class="card-action">
          <a href="#">View Details</a>
          <a href="#">Create New</a>
        </div>
      </div>
    </div>
     <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Total Number of Products</span>
          <h2>5000</h2>
        </div>
        <div class="card-action">
          <a href="#">View Details</a>
          <a href="#">Create New</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Open Tickets</span>
          <h2>120</h2>
        </div>
        <div class="card-action">
          <a href="#">View Details</a>
          <a href="#">Create New</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Total Orders</span>
          <h2>560</h2>
        </div>
        <div class="card-action">
          <a href="/sync/ct/orders">Get All CT Orders</a>
          <a href="/sync/ct/order/432683db-a75c-41ab-a746-24e1168db4d9">View Single Order Details</a>
          <a href="/sync/orders/viewAll">View All Details</a>
          <a href="#">Create New</a>
        </div>
      </div>
    </div>
 </div>
<div class="row">
    <div class="col s6 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">View Details</a>
          <a href="#">Create New</a>
        </div>
      </div>
    </div>
     <div class="col s6 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
     <div class="col s6 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
 </div>
<div class="row">
    <div class="col s6 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
     <div class="col s6 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
     <div class="col s6 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
 </div> --}}
 
 <div class="row row-eq-height">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="card bo-infocards">
        <div class="card-inner">
          <h5 class="card-title">Today's Orders</h5>
           <h5 class="card-amount">45</h5>
           <p class="target-value">68% target reached</p>
           <div class="card-icon-wrapper">
              <i class="fa fa-id-card"></i>
           </div>
        </div>
      </div>
    </div>
     <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="card bo-infocards">
        <div class="card-inner">
          <h5 class="card-title">Today's Revenue</h5>
           <h5 class="card-amount">12054.51</h5>
           <p class="target-value">28% target reached</p>
           <div class="card-icon-wrapper">
              <i class="fa fa-id-card"></i>
           </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="card bo-infocards">
        <div class="card-inner">
          <h5 class="card-title">Shipping Cost</h5>
           <h5 class="card-amount">20.50</h5>
           <p class="target-value">18% target reached</p>
           <div class="card-icon-wrapper">
              <i class="fa fa-id-card"></i>
           </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="card bo-infocards">
        <div class="card-inner">
          <h5 class="card-title">Channel</h5>
           <h5 class="card-amount">101</h5>
           <p class="target-value">40% target reached</p>
           <div class="card-icon-wrapper">
              <i class="fa fa-id-card"></i>
           </div>
        </div>
      </div>
    </div>
 </div>

 <div class="row section-two">
    <div class="col-sm-12 col-md-6 col-lg-6 secOne">
      
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 sectwo">
       
    </div>
 </div>

 <div class="row section-two">
    <div class="col-sm-12 col-md-6 col-lg-6 secOne">
      
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 sectwo">
       
    </div>
 </div>

 <div class="row section-two">
    <div class="col-sm-12 col-md-6 col-lg-6 secOne">
      
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 sectwo">
       
    </div>
 </div>

 <div class="row section-two">
    <div class="col-sm-12 col-md-6 col-lg-6 secOne">
      
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 sectwo">
       
    </div>
 </div>

 <div class="row section-two">
    <div class="col-sm-12 col-md-6 col-lg-6 secOne">
      
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 sectwo">
       
    </div>
 </div>
