<%- include('../layouts/header') %>
<h3>Add Categories</h3>
<div class="row">
    <form action="/category/add" method="POST" class="col s12">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="row">
            <div class="input-field">
                <input type="text" id="code" name="code" value={{code}}>
                <label for="title">Code</label>
            </div>
        </div>
         <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value={{title}}>
                <label for="title">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="description" name="description" value={{description}}>
                <label for="title">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                 <select id="status" name="catalogCode">
                     {{#select 'us-product-catalog'}}
                        {{#each catalogList}}
                            <option value="{{this.code}}"> {{this.name}} </option>
                        {{/each}}
                     {{/select}}
                 </select>
                <label for="Catalog">Catalog</label>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>
<%- include('../layouts/footer') %>