<h3>Edit Category</h3>
<div class="row">
    <form action="/category/{{category._id}}" method="POST" class="col s12">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{category.title}}">
                <label for="title">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    {{#select category.status}}
                    <option value="active" selected>active</option>
                    <option value="inactive">Inactive</option>
                    {{/select}}
                </select>
                <label for="status">Status</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <h5>Description:</h5>
                <textarea id="description" name="description">{{category.description}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>