<%- include('../layouts/header') %>
    <div class="card">

        <div class="card-header">
            <ul class="nav nav-tabs justify-content-left" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Order" role="tab">
                        <i class="now-ui-icons objects_umbrella-13"></i> Order Details
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#OrderEntry" role="tab">
                        <i class="now-ui-icons shopping_cart-simple"></i> Order entry
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#price" role="tab">
                        <i class="now-ui-icons shopping_cart-simple"></i> Price
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ShippingDetail" role="tab">
                        <i class="now-ui-icons shopping_shop"></i> Shipping Detail
                    </a>
                </li>
                
            </ul>
        </div>
        <div class="card-body col-lg-12">
            <!-- Tab panes -->
                <div class="tab-content text-left">

                    <div class="tab-pane active" id="Order" role="tabpanel">
                        <h5 class="card-title">Order Details</h5>
                    </div>
                

                    <div class="tab-pane" id="OrderEntry" role="tabpanel">
                        <h5 class="card-title">Order entry</h5>
                                             
                    </div>

                    <div class="tab-pane" id="price" role="tabpanel">
                        <h5 class="card-title">Price</h5>
                                             
                    </div>

                    <div class="tab-pane" id="ShippingDetail" role="tabpanel">
                        <h5 class="card-title">Shipping Detail</h5>
                                             
                    </div>
                    <!-- Category started here -->
                    
                </div>
                    
                       
                        
               
        </div>

    </div>

    <%- include('../layouts/footer') %>