{{#if orders}}
<div class="bo-fixed-action-btn">
    <a href="/orders/add" class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-plus"></i></a>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            Total order: {{orders.length}}
            <tr>
                <th>Order Number</th>
                <th>Total Price</th>
                <th>Delivery cost</th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
            <tr>
                <td><a href="/sync/order/{{id}}">{{id}}</a></td>
                <td>{{totalPrice}} {{currencyCode}}</td>
                <td>{{deliveryCost}} {{currencyCode}}</td>
                <td>
                    <div class="bo-edit-row">
                        <a href="/sync/order/{{id}}" class="btn btn-float">
                            <i class="fas fa-edit"></i>
                        </a>

                        <form action="/sync/order/remove/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_csrf" value="{{@root.csrfToken}}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{else}}
<p>You have not created any orders</p>
{{/if}}

