@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

:root{
  --button-bg: #1e5e95;
  --button-bg-hover: #03326dc4;
  --nav-drop-bg: #1e5e95;
  --footer-bg: #1e5e95;
  --footer-bottom-bg: #134f83;

  
  }

body {
  color: #424453;
  background: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Roboto Condensed', sans-serif;
}

/* body main {
  margin-top: 100px;
}

.categories-item {
  padding-top: 15px;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header.header-section {
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  position: fixed;
    width: 100%;
    top: 0;
}

.main-header + main {
  margin-top: 100px;
}

.header-section.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #ffffff !important;
  animation: 500ms ease-in-out;
  padding-top: 0px;
  padding-bottom: 0px;
}

a.link {
  color: #2ea6d8;
  font-size: 15px;
}

input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .custom-number-input input:focus {
    outline: none !important;
  }

  .custom-number-input button:focus {
    outline: none !important;
  }

  .header-nav .nav-item button {
    font-size: 14px;
    font-weight: 600;
    color: #666e71;
    line-height: 16px;
}

.header-nav button.default:hover, .header-nav button.active {
  color: #1e5e95;
}

.header-search-field input {
  border-radius: 30px;
  padding: 11px 10px 11px 35px;
  min-width: 300px;
  color: #666e71;
}

header .bg-black {
  --tw-bg-opacity: 1;
  background-color: var(--nav-drop-bg);
  min-height: 350px;
}

:focus {
  outline: 0 !important;
}

.cart-count {
  background: #efefef;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 10px;
  position: absolute;
  top: -8px;
  left: 4px;
  border: 1px solid #838f9d;
  text-align: center;
}

.add-to-cart-btn {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
  background: #002f6b;
  transition: all 0.6s;
  font-weight: 500;
}

.add-to-cart-btn:hover {
  background: #d94b22;
}

.product-default {
  border-radius: 5px;
  margin-top: 1px;
  cursor: pointer;
}

.product-default figure img {
  max-height: 230px;
  margin: 0 auto;
}

span.offer-discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #d64c25;
  color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 10px;
  font-weight: bold;
  padding: 10px 5px;
}

.product-default:hover {
  z-index: 1;
  box-shadow: 0 6px 15px 0 rgb(0 0 0 / 8%);
  transition: box-shadow .3s ease-in-out;
}

.product-default figure img {
  border-radius: 5px 5px 0 0;
}

.p-name {
  font-weight: 400;
  line-height: 18px;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}



.star-rating i {
  color: #e5e7eb;
  padding: 0 2px;
  font-weight: bold;
  font-size: 14px;
}

.star-rating i.active {
  color: #d64c25;
}

.price-rating {
  padding: 10px 0;
}


.header-nav a.nav-link, .header-nav a.cart-link {
  font-size: 13px;
  padding: 15px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  color: #666e71;
}

.nav-dropdown li.flex {
  text-align: left;
  margin-top: 8px !important;
}

.nav-dropdown li.flex button {
  text-align: left;
  line-height: 20px;
}

.nav-dropdown li.flex button:hover {
  text-decoration: underline;
}



.header-nav svg {
  margin: 0 auto 5px;
  color: #666e71;
}

.header-nav a.cart-link {
  float: left;
}

a.nav-link:hover,
a.nav-link:hover svg,
a.cart-link:hover,
a.cart-link:hover svg {
  color: #1e5e95;
}

.relative.flex.nav-item button[aria-expanded="true"]:after {
  position: absolute;
  content: '';
  border-bottom: 10px solid #1e5e95;
  border-right: 10px solid transparent;
  left: 50%;
  bottom: -9px;
  border-left: 10px solid transparent;
  transform: translate(-50%, 0);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.account-name .absolute {
  top: 82px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 99;
}

.account-name .dropdown-menu {
  min-width: 200px;
  box-shadow: 0 0px 6px -3px rgb(0 0 0 / 15%);
  border-radius: 0 0 5px 5px;
}

.account-name .dropdown-menu .drop-item {
  display: block;
  text-align: left;
  font-size: 13px;
  padding: 0 15px;
  font-weight: 600;
}


.account-name .dropdown-menu .drop-item svg {
  display: inline-block;
  width: 25px;
}


.react-multiple-carousel__arrow {
  z-index: 9 !important;
}

.onlyonline,
.limitedstock,
.clearance {
  padding: 7px 10px;
  text-transform: uppercase;
  font-size: 9px;
  border-radius: 2px 0 0 2px;
  position: absolute;
  line-height: 10px;
  left: 10px;
  background: #8126a3;
  top: 10px;
  color: #fff;
}

.limitedstock {
  background: #f37021;
}

.clearance {
  background: #ff3a0b;
}

.onlyonline:before,
.limitedstock:before,
.clearance:before {
  content: "";
  width: 10px;
  height: 100%;
  position: absolute;
  transform: skew(10deg);
  right: -5px;
  top: 0;
  background: #8126a3;
}

.limitedstock:before {
  background: #f37021;
}

.clearance:before {
  background: #ff3a0b;
}

@media (min-width: 1024px){
  .header-search-field {
    margin-left: 30px !important;
  }
  img.logo {
    min-width: 80px;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
  header nav {
    padding: 10px !important;
}
  a.acc-item {
    float: left;
}
.m-hide {
  display: none;
}

}

@media (min-width: 360px) and (max-width: 768px) {
  
 
  .product-single-tabs .nav.nav-tabs .spec-nav-link {
    text-align: center;
}

.product-single-details .main-title {
  font-size: 25px;
  margin: 0px 0 15px !important;
  line-height: 30px;
}
  .react-multi-carousel-list {
    margin: 0 15px !important;
}
  img.logo {
    height: 60px;
}

header nav {
  border-bottom: 1px solid #ddd;
  padding: 0 !important;
}

.header-nav a {
  padding: 8px 5px !important;
  font-weight: 600;
  transition: all 1s;
  position: relative;
}

.right-account:after {
  background: #e2e8f0;
  content: '';
  width: 1px;
  position: absolute;
  top: 0;
  left: 61px;
  bottom: 0;
}

.header-nav a i {
  font-size: 40px;
  color: #718096;
}

.right-account {
  position: relative;
    width: 125px;
    margin: 0 auto;
    text-align: center;
    padding: 8px 0;
    display: flex;

}

.right-account a.nav-link {
  margin: 0 auto;
}

.header-nav .cart-item {
  border-left: 1px solid #e2e8f0;
  padding: 8px;
  display: flex;
}

.mobile-tab {
  overflow: auto;
}

.header-nav .count-item {
  top: 0;
  right: 0;
}

.mobileNavigation .account-name a {
  display: block;
  padding-left: 0;
  text-align: left;
  font-size: 15px;
}

.mobileNavigation .account-name a svg{
  display: inline-block;
  margin-right: 10px;
}

.mobileNavigation .account-name i {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.m-hide {
  display: none;
}

.main-banner-slider li img {
  min-height: 140px;
}
  .mobile-nav-list {
    padding-top: 0 !important;
}
  header.relative {
    height: 145px;
}
  .header-search-field {
    width: 90%;
    display: block !important;
    position: absolute;
    top: 85px;
    left: 5%;
}

.login {
  padding: 20px;
}


a.acc-item {
  padding: 8px 0px;
  font-size: 13px;
  font-weight: 600;
  transition: all 1s;
  float: left;
  text-align: center;
}

.header-search-field input {
  width: 100%;
  border-radius: 30px;
  padding: 13px 30px;
}
.categoriesProducts,
.featureProduct {
  padding: 20px !important;
}

.sectiontitle {
  font-size: 20px;
  padding: 0 !important;
}

.sectiontitle span {
  padding: 0 10px;
}

.sectiontitle:after {
  top: 16px;
  display: none !important;
}
.p-name {
  font-weight: 400;
  line-height: 16px;
  font-size: 18px;
}

.list-none a {
  font-size: 17px;
  text-align: left;
}

.mobile-nav-list ul li {
  margin-top: 10px !important;
}

.mobile-nav-list ul li a {
  font-size: 14px;
  color: #333;
}

.categories-item {
  padding-left: 20px;
  padding-right: 20px;
}

.container .pdp-details {
  grid-template-columns: auto;
  padding: 10px 20px;
}

.container .product-single-gallery,
.container .product-single-details {
  grid-column: auto;
  padding: 0;
  border: none;
}

.sidebar aside {
  width: 100%;
  margin-bottom: 20px;
}

.address-book .grid {
  grid-template-columns: auto;
}

}

@media (min-width: 1150px) and (max-width: 1400px) {
  div header > nav {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.hidden.header-nav {
  margin-left: 10px;
}


.header-search-field {
  margin-left: 20px !important;
}

.header-nav a.nav-link, .header-nav a.cart-link {
  font-size: 14px !important;
}

  header .account-name a {
    font-weight: 600;
    text-align: center;
    line-height: 14px;
    font-size: 13px !important;
    padding: 8px 10px !important;
}

header .account-name i {
  font-size: 25px;
}

header a.acc-item {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  line-height: 14px;
  padding: 8px 10px;
}

header .cart-item i {
  font-size: 25px;
  text-align: center;
}

header a.nav-cart {
  padding: 8px 5px;
  font-size: 13px;
  font-weight: 600;
}

}

.carousel-root .carousel.carousel-slider .control-arrow {
  top: 45%;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
  height: 60px;
  background: #fff;
  width: 60px;
  border-radius: 50%;
}

.carousel-root .carousel .control-prev.control-arrow:before {
  border-right: 8px solid #000;
}

.carousel-root .carousel .control-next.control-arrow:before {
  border-left: 8px solid #000;
}

.carousel.carousel-slider .control-arrow:hover {
  background: #000 !important;
}



.carousel-root .carousel .control-dots .dot {
  background: #03326d;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}




.sectiontitle {
  position: relative;
  padding: 30px;
  text-align: center;
  font-weight: bold;
  margin: 0 55px 20px;
}


.sectiontitle span {
  background: #fff;
  display: inline-block;
  position: relative;
  z-index: 9;
  padding: 0 20px;
  text-transform: uppercase;
}

.sectiontitle:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  left: 0;
  background: #efefef;
  top: 46px;
}

.categoriesProducts {
  padding: 30px;
}

.categoriesProducts .react-multi-carousel-list,
.brand-item .react-multi-carousel-list,
.featureProduct .react-multi-carousel-list{
  margin: 0 50px;
  position: inherit !important;
}

.categoriesProducts .card {
  box-shadow: 0 0 5px #ededed;
  border-radius: 10px;
  border: 1px solid #efefef;
}

.categoriesProducts .card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  min-height: 338px;
}

.react-multiple-carousel__arrow--left {
  left: calc(4% + 1px);
}

.categoriesProducts  .react-multi-carousel-item .card {
  margin: 0 5px;
}

.main-banner-slider .react-multiple-carousel__arrow--left {
  left: calc(1% + 1px);
}

.main-banner-slider .react-multiple-carousel__arrow--right {
  right: calc(1% + 1px);
}


p.c-title {
  padding: 15px 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

 .col {
  margin: 0 5px;
}

.account-name a {
  padding: 8px 15px;
  font-weight: 600;
  text-align: center;
  line-height: 16px;
}

.count-item {
  position: absolute;
  top: 4px;
  right: 8px;
  width: 20px;
  height: 20px;
  background: #ddd;
  border-radius: 50%;
  font-size: 12px;
  border: 1px solid #666;
  line-height: 18px;
  text-align: center;
}


.account-name i {
  display: block;
  text-align: center;
  font-size: 30px;
  margin-bottom: 5px;
}

.price-rating span {
  font-size: 16px;
}

.login {
  max-width: 500px;
  padding: 40px;
  border-radius: 10px;
}

.login input {
  min-height: 40px;
}

.btn-default {
  background: var(--button-bg);
  padding: 15px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  transition: all 0.5s;
}

.btn-default:hover {
  background: var(--button-bg-hover);
}

.group.product-item {
  padding: 20px;
  border-radius: 5px;
}

.main-title {
  font-size: 1.125rem;
  font-weight: 700;
  color: #424453;
  padding: 20px 0;
  line-height: 35px;
}


.product-single-gallery {
  border-right: 2px solid #eee;
  position: relative;
}

.price-list {
  color: #222529;
  font-size: 2.4rem;
  letter-spacing: -.02em;
  vertical-align: middle;
  line-height: .8;
  margin: 20px 0;
  font-weight: bold;
}

a.review-text {
  color: #999;
  font-size: 15px;
  font-weight: 400;
}

.highlights {
  padding: 15px 0;
}

.highlights h3 {
  color: #222529;
  font-weight: bold;
  font-size: 20px;
}

ul.list {
  margin: 0 0 0 15px;
}

.list-item {
  display: list-item;
  color: #777;
  font-size: 16px;
  padding: 2px 0;
}

p.artile-number, .base-product-ref {
  font-size: 16px;
}

.details h2 {
  color: #222529;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
}

.details p {
  color: #777;
  font-size: 15px;
  line-height: 20px;
}

.pdp-details hr {
  max-width: 1000px;
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #e7e7e7;
}

h3.color-title {
  font-size: 16px;
  font-weight: bold;
}

.colors-details .group {
  font-size: 15px;
  text-align: center;
  padding: 10px;
  transition: all 0.2s;
}

.pdp-details .short-divider {
  width: 40px;
  height: 0;
  border-top: 2px solid #e7e7e7;
  margin: 15px 0 20px;
  text-align: left;
}

.colors-details {
  max-width: 300px;
}

.colors-details .group:hover {
  background: #1e5e95;
  color: #fff;
}

.addtobag-form input {
  min-width: 150px;
  border: 1px solid #ddd;
  font-size: 14px;
  padding: 10px;
  border-radius: 25px 0 0 25px;
  margin-right: -2px;
  height: 45px;
}

.addtobag-form button {
  height: 45px;
  line-height: 20px;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 0 25px 25px 0;
}

p.stock {
  font-size: 14px;
  margin: 10px 0;
  color: #2f9dd5;
}

.product-single-tabs .nav-tabs {
  margin: 0;
  border: 0;
  position: sticky;
  top: 99px;
  z-index: 11;
  padding: 15px 0;
  background: #f9fcfe;
  justify-content: space-evenly;
}

.product-single-tabs .nav.nav-tabs .spec-nav-link.active, .product-single-tabs .nav.nav-tabs .spec-nav-link:hover {
  color: #0079ba;;
}

.product-single-tabs .nav.nav-tabs .spec-nav-link {
  color: #818692;
  font-size: 16px;
  display: block;
  font-weight: bold;
  letter-spacing: 0;
  padding: 10px;
  position: relative;
}

.product-single-tabs .nav.nav-tabs .spec-nav-link.active {
  color: #2f9dd5;
  text-transform: uppercase;
}

.product-single-tabs .nav.nav-tabs .spec-nav-link.active:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(50% + 2px);
  height: 3px;
  border-radius: 2px;
  background: #0079ba;
}

.detail-panel {
  margin-bottom: 20px;
  font-size: 16px;
}

.product-single-tabs h5 {
  color: #424453;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.product-single-tabs p {
  font-size: 15px;
  line-height: 22px;
  color: #666e71;
}

.product-single-tabs article {
  margin-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 20px;
}

.tech-info {
  width: 100%;
}

.tech-info tr {
  border-bottom: 1px solid #e7e7e7;
}

.tech-info .pro-info {
  padding: 12px 0;
  font-size: 15px;
  min-width: 150px;
}

td.pro-info:nth-child(1) {
  font-weight: bold;
}

.container.registration {
  max-width: 900px;
}

.account-left-panel {
  min-height: 400px;
  border-right: 5px solid #3498DB;
}

.account-left-panel li {
  border-bottom: 2px solid #fff;
  margin: 0 !important;
}

.account-left-panel li a {
  font-size: 15px;
  padding: 10px;
  font-weight: 600;
  line-height: 18px;
  color: #2d3748;
}

.account-left-panel li a svg {
  color: #2d3748;
}

.account-left-panel li a:hover,
.account-left-panel li a:hover svg {
  background: #3498DB;
  color: #fff;
}

.block.address-box {
  margin-bottom: 20px;
  background: #f7fafc;
}

.address-box svg {
  color: #3182ce;
}

.address-box button svg {
  color: #e25b5b;
}

.review-section .active {
  color: #d64c25;
}

span.added-wishlist {
  position: absolute;
  top: 15px;
  right: 32px;
  background: #718096;
  padding: 5px 10px;
  border-radius: 50%;
  width: 40px;
  cursor: pointer;
  height: 40px;
}

span.added-wishlist svg {
  width: 20px;
  color: #fff;
}

.deliveryAddress button {
  font-size: 15px;
  height: 45px;
  line-height: 16px;
  margin-top: 20px;
}

.add-address input, .add-address select {
  font-size: 14px;
}

.wishListItem li {
  background: #f7fafc;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.action-field .add-to-cart button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.action-field .delete svg {
  color: #e25b5b;
  cursor: pointer;
}

.success-toast {
  font-size: 14px;
}

.move-wishlist .outline-btn {
  border: 2px solid #1e5e95;
  font-size: 15px;
  padding: 8px 15px;
  margin: 5px 0 0 15px;
  border-radius: 25px;
}

.wishListModal h3 {
  font-size: 18px;
}

.wishListModal input[type='text'] {
  border: 1px solid #ddd;
  border-radius: 25px;
  height: 40px;
  width: 100%;
  padding: 5px 15px;
  font-size: 14px;
}

.wishListModal input.form-check-input {
  width: 20px;
  margin-right: 5px;
  height: 20px;
}

.wishListModal .form-check-label {
  display: inline-block;
  font-size: 15px;
}

.wishListModal select {
  width: 100%;
  border: 1px solid #ddd;
  font-size: 14px;
  padding: 8px 10px;
  height: 40px;
  border-radius: 25px;
}

.wishListModal .bottom-btn button {
  min-width: 100px;
  border-radius: 25px !important;
  font-size: 14px;
}

.wishListModal button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

p.wishlistName {
  font-size: 14px;
  font-weight: 700;
  padding: 15px 0;
}


.wishlistName span {
  background: #ddd;
  padding: 6px 15px;
  border-radius: 25px;
  font-size: 12px;
  margin-left: 10px;
  font-weight: 400;
}

.order-detail-grid p {
  font-size: 14px;
  line-height: 15px;
}

.order-details .product-item {
  margin: 10px;
}

.order-detail-grid .flex {
  border-bottom: 1px solid #edf2f7;
  padding: 10px 0;
}
.order-detail-grid div {
  font-size: 15px;
}

.order-detail-grid .flex:last-child {
  border: 0;
}

.orderNumber {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  color: #000;
}

.right-details p {
  font-size: 14px;
  color: #000;
}

.right-details h5 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.brand-item {
  padding: 0 30px;
}

.brand-item .card {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  margin: 0 5px;
  height: 250px;
  padding: 70px 25px;
  border-radius: 5px;
}

.brand-item span.c-title {
  text-align: center;
  display: block;
  padding: 15px 0;
  font-size: 16px;
  font-weight: bold;
}

.brand-item img {
  width: 175px;
    height: 75px;
    margin: 0 auto;
}