<h3>Edit OAuth Client</h3>
<div class="row">
    <form action="/oauthclient/{{oauthclient._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="clientId" name="clientId" value="{{oauthclient.clientId}}">
                <label for="title">Client Id</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="name" name="name" value="{{oauthclient.clientSecret}}">
                <label for="title">Secret Key</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="scope" name="scope" value="{{oauthclient.scope}}">
                <label for="title">Scope</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="authorities" name="authorities" value="{{oauthclient.authorities}}">
                <label for="title">Authorities</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    {{#select status}}
                    <option value="true" selected>active</option>
                    <option value="false">Inactive</option>
                    {{/select}}
                </select>
                <label for="status">Status</label>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>