<h3>Add Country</h3>
<div class="row">
    <form action="/country/add" method="POST" class="col s12">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="row">
            <div class="input-field">
                <input type="text" id="isocode" name="isocode" value={{isocode}}>
                <label for="title">Code</label>
            </div>
        </div>
         <div class="row">
            <div class="input-field">
                <input type="text" id="name" name="name" value={{name}}>
                <label for="title">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="true" selected>active</option>
                    <option value="false">inactive</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>